mixin header()
  +b.header&attributes(attributes)
    .container
      +e.wrapper
        //- +burger()._white
        //- +e.A(href="index.html", title="Lantelia").logo
          //- +icon('lantelia')
        //- +e.A(href="#").call
        +e.NAV.nav
          +e.nav-wrapper
            +e.nav-content
              +e.SPAN.nav-name Lantelia
              +e.P.nav-text Профессиональная косметика для волос Lantelia
              //- +social('vk', 'f', 'twitter').__social
            //- +e.UL.nav-group
            +e.UL.nav-group
              +e.LI.nav-item
                +link()(href="catalog.html")._small.header__link Keep Construct
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="sales-offices.html")._small.header__link Xera
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="newsTraining.html")._small.header__link Slothasor
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="about.html")._small.header__link Bandit Trio
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="contact.html")._small.header__link Matthias
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="contact.html")._small.header__link Vale Guardian
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="contact.html")._small.header__link Gorseval
                +icon('arrow').nav-icon
              +e.LI.nav-item
                +link()(href="contact.html")._small.header__link Sabetha
                +icon('arrow').nav-icon
              //- +e.A(href="#").link Еще пункт
