extends ../../layouts/default
include ../../components/article/vg
include ../../components/menu/menu

block head
  - var pageTitle = 'Raids - Vale Guardian'

block content
  +b.index
    .container
      +menu()
      +article-vg()
