@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  background-color: $color-white;
  padding-top: 40px;
}

.js-sr {
  visibility: hidden;
}

body {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
