.article {
  width: 80%;
  margin-left: 23%;

  &__title {
    text-align: center;
  }

  &__image {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}
