.article {
  margin-left: 20%;
  padding-left: 20px;
  padding-bottom: 40px;

  &__title {
    text-align: center;
  }

  &__image {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
}

.contents {
  border: 1px solid $color-border;
  padding: 25px;
  width: auto;
  display: table;

  @media (max-width: 480px) {
    padding: 15px;
    display: block;
  }

  &__title {
    margin-top: 0 !important;
  }

  &__hide {
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
  }

  &__content > li {
    padding-left: 0 !important;
  }

  a {
    border: 0;
    color: $color-main;
  }
}
