mixin menu()
  +b.menu&attributes(attributes)
    +e.wrapper
      //- +burger()._white
      //- +e.A(href="index.html", title="Lantelia").logo
        //- +icon('lantelia')
      //- +e.A(href="#").call
      +e.NAV.nav
        +e.nav-wrapper
          +e.nav-content
            +e.SPAN.nav-name Lantelia
            +e.P.nav-text Профессиональная косметика для волос Lantelia
            //- +social('vk', 'f', 'twitter').__social
          //- +e.UL.nav-group
          +e.UL.nav-group
            +e.LI.nav-item
              +link()(href="escort.html")._small.header__link Siege the Stronghold (Escort)
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()(href="vg.html")._small.header__link Vale Guardian
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Keep Construct
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Xera
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Slothasor
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Bandit Trio
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Matthias
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Gorseval
              +icon('arrow').nav-icon
            +e.LI.nav-item
              +link()()._small.header__link.inactive Sabetha
              +icon('arrow').nav-icon
            //- +e.A(href="#").link Еще пункт
